<!-- views/shop.html -->
<section id="shop" class="section">
  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Shop</h1>
            <p class="mb-4">"Browse our curated collection of furniture and decor, where style meets comfort to elevate your space."</p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="../assets/images/couch.png" class="img-fluid" alt="Hero Couch">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Shop Banner -->
  <section class="shop-banner">
    <div class="container">
      <!-- Background Floating Images -->
      <img src="../assets/images/Chair1.jpg" alt="Decor Image 1" class="floating-image img1">
      <img src="../assets/images/table1.jpg" alt="Decor Image 2" class="floating-image img2">
      <img src="../assets/images/antique1.jpg" alt="Decor Image 3" class="floating-image img3">
      <img src="../assets/images/Chair2.jpg" alt="Decor Image 4" class="floating-image img4">
      <img src="../assets/images/table9.jpg" alt="Decor Image 5" class="floating-image img5">
      <img src="../assets/images/antique3.jpg" alt="Decor Image 6" class="floating-image img6">
      <img src="../assets/images/antique4.jpg" alt="Decor Image 7" class="floating-image img7">

      <div class="banner-content">
        <h3>December Sale is On! <br> Enjoy 20% <span class="highlight-text">Tax refund...</span></h3>
        <div class="sale-percent">
          <span>Sale! <br> Up to</span>
          <strong>50%</strong>
          <span>Off</span>
        </div>
      </div>
    </div>
  </section>
  <!-- End Shop Banner -->

  <div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <div class="row">
        <!-- Product Filters Section -->
        <div class="col-md-12">
          <div class="product-filters">
            <ul>
              <li class="active" data-filter="*">All</li>
              <li data-filter=".chair">Chairs</li>
              <li data-filter=".antique">Tables & Antiques</li>
            </ul>
          </div>
        </div>

        <!-- Product Grid -->
        <div class="row product-grid">
          <!-- Chair Products -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 chair">
            <a class="product-item" href="#product-details/NordicChair">
              <img src="../assets/images/product-3.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Nordic Chair</h3>
              <strong class="product-price">$120.00</strong>
              <span class="icon-cross">
                <img src="../assets/images/cross.svg" class="img-fluid" alt="Add to cart">
              </span>
            </a>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-5 chair">
            <a class="product-item" href="#product-details/KruzoAeroChair">
              <img src="../assets/images/product-1.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Kruzo Aero Chair</h3>
              <strong class="product-price">$120.00</strong>
              <span class="icon-cross">
                <img src="../assets/images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-5 chair">
            <a class="product-item" href="#product-details/ErgonomicChair">
              <img src="../assets/images/product-2.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Ergonomic Chair</h3>
              <strong class="product-price">$250.00</strong>
              <span class="icon-cross">
                <img src="../assets/images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>

          <!-- Add more products as needed, all image paths prefixed with ../assets/images/ -->
        </div>
      </div>
    </div>
  </div>
</section>
